<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net40" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="NUnit" version="3.13.2" targetFramework="net40" requireReinstallation="true" />
  <package id="OpaqueMail" version="2.4.3" targetFramework="net40" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net45" />
  <package id="Selenium.Support" version="4.1.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net45" />
  <package id="SimpleBrowser" version="0.5.61.0" targetFramework="net45" />
  <package id="SimpleBrowser.WebDriver" version="0.5.43" targetFramework="net45" />
  <package id="System.Net.FtpClient" version="1.0.5824.34026" targetFramework="net40" />
</packages>